<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- <bean id="customerService" class="com.c2t.init.CustomerService" /> -->


	<bean id="customerService2" class="com.c2t.init.CustomerService"
		init-method="initialize" destroy-method="destroy">
		<property name="message" value="I am testing init and destroy..." />
	</bean>


</beans>